/*
 * @Author: Detcx
 * @Date: 2019-01-31 21:35:56
 * @Last Modified by: lcs
 * @Last Modified time: 2019-02-13 17:01:40
 * @Description: App Less
 */

@color: hsl(174, 25%, 85%);
.header {
  padding: 10px;
  background: @color;
}

.section {
  padding: 10px;
  margin: 10px 0;
  min-height: 200px;
  border: 1px solid #999;
  background: hsl(187, 33%, 87%);
}

.footer {
  padding: 10px;
  background: @color;
}
