/*
 * @Author: Detcx
 * @Date: 2019-02-07 23:40:20
 * @Last Modified by: lcs
 * @Last Modified time: 2019-02-13 18:03:04
 * @Description: Product Less
 */

.routerCont {
  padding: 20px 10px;
  border: 1px solid #f00;
}

.testBg {
  width: 500px;
  height: 300px;
  margin-top: 20px;
  text-align: center;
  background: url('__ImagesPath__/bg.jpg') no-repeat;
  background-size: cover;
  border-radius: 4px;
  opacity: .85;
  .title {
      color: #f00;
  }
  .desc {
    font-size: 23px;
    color: #fff;
    line-height: 300px;
  }
}
