/*
 * @Author: liangchaoshun
 * @Date: 2019-01-31 21:35:56
 * @Last Modified by: liangchaoshun
 * @Last Modified time: 2019-02-13 17:01:40
 * @Description:  login page style
 */

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url('__ImagesPath__/bg_main.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.container{
  width: 400px;
}

.box{
  text-align: center;
}

.logo{
  width: 90px;
  height: 125px;
  background-image: url('__ImagesPath__/logo.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 auto 28px;
}

.title{
  margin-bottom: 36px;
  font-size: 42px;
  color: #fff;
  text-shadow: 0 0 20px #000;
}

.formContainer{
  width: 398px;
  background: #fff;
  -webkit-box-shadow: 0 0 20px 2px #000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 20px 2px #000;
  border: 1px solid #d7d7d7;
}

.formTitle{
  height: 45px;
  line-height: 45px;
  color: #909090;
  border-bottom:1px solid #d7d7d7;
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 16px;
}

.itemContainer{
  margin: 30px 45px 20px;
}

.remember{
  user-select: none;
  margin-bottom: 10px;
}

.formItem{
  margin-bottom: 18px;
}